body {
    font-family: "Old English Text MT", fantasy;
    background-color: lightseagreen;
    color: darkred;
    font-size: 20px;
    text-align: center;
    padding-right: 6em;
    padding-left: 6em;
}